* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* stylelint-disable selector-max-id, declaration-no-important */
html,
body,
#root {
    height: 100%;
    width: 100%;
}

/* stylelint-enable selector-max-id, declaration-no-important */